@font-face {
    font-family: "TCCEB";
    src: url("/static/tcceb.ttf");
}

html, body {
    font-family: "TCCEB";
    background: #000;
    color: #fff;
    font-size: 24px;
}
.ish {
    color: #0f0;
}

* {
    font-weight: 400 !important;
}

a {
    color: #fff;
}
.ish a {
    color: #0f0;
}

table {
    font-size: 24px;
}

th, td {
    padding: 4px 16px;
    min-width: 80px;
    border: 2px solid #fff;
    color: #fff;
    text-align: center;
}
.ish :is(th, td) {
    border-color: #0f0;
    color: #0f0;
}

thead {
    background: #fff;
    color: #000;
}
.ish thead {
    background: #0f0;
}

thead * {
    color: #000 !important;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 80px;
    background: #fff;
    color: #000;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 16px;
    gap: 32px;
    font-size: 32px;
}
.ish .header {
    background: #0f0;
}

.header a {
    color: #000;
    text-decoration: none;
}

.header .logo {
    font-size: 64px;
}

.header-spacer {
    height: 80px;
}

.lb {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}