@font-face {
    font-family: "TCCEB";
    src: url("/static/tcceb.ttf");
}

body {
    font-family: "TCCEB";
    background: #111;
    color: #ddd;
    font-size: 24px;
    margin: 0;
    padding: 8px;
}
.ish {
    background: #000;
    color: #0f0;
}

* {
    font-weight: 400 !important;
}

a {
    color: #ddd;
}
.ish a {
    color: #0f0;
}

table {
    font-size: 24px;
    border-radius: 4px;
    overflow: hidden;
}

th, td {
    padding: 4px 16px;
    min-width: 80px;
    border: 2px solid #ddd;
    color: #ddd;
    text-align: center;
}
.ish :is(th, td) {
    border-color: #0f0;
    color: #0f0;
}

thead {
    background: #ddd;
    color: #111;
}
.ish thead {
    background: #0f0;
    color: #000;
}

thead * {
    color: #111 !important;
}
.ish thead * {
    color: #000 !important;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 80px;
    background: #ddd;
    color: #111;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 16px;
    gap: 32px;
    font-size: 32px;
}
.ish .header {
    background: #0f0;
    color: #000;
}

.header a {
    color: #111;
    text-decoration: none;
}
.ish .header a {
    color: #000;
}

.header .logo {
    font-size: 64px;
}

.header-spacer {
    height: 80px;
}

.lb {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}