<link rel="stylesheet" href="/static/style.css">

<% for (let player of data.players.sort((a, b) => b.wogc.height - a.wogc.height)) { %>
    <a href="/player/<%= player.id %>"><%= player.name %></a>'s tower is <%= player.wogc.height.toFixed(1) %> meters tall <br>
<% } %>