<%-
    include('components/lbTemplate', {
        title: 'Players',
        subtext: `you will need to complete all levels to be on here.`,
        baseData: data.players.filter(player => Object.keys(levels).every(v => player.levels?.[v])),
        defaultSort: 'balls',
        columns: [
            {
                name: 'name',
                value: v => `<a href="/player/${v.id}">${htmlEncode(v.name)}</a>`
            }, {
                name: 'balls',
                value: v => Object.keys(levels).reduce((a, b) => a + v.levels[b].balls.balls, 0),
                sort: (p1, p2) => Object.keys(levels).reduce((a, b) => a + p2.levels[b].balls.balls - p1.levels[b].balls.balls, 0)
            }, {
                name: 'time',
                value: v => `${Object.keys(levels).reduce((a, b) => a + v.levels[b].time.time, 0)}s`,
                sort: (p1, p2) => Object.keys(levels).reduce((a, b) => a + p1.levels[b].time.time - p2.levels[b].time.time, 0)
            }, {
                name: 'moves',
                value: v => Object.keys(levels).reduce((a, b) => a + v.levels[b].moves.moves, 0),
                sort: (p1, p2) => Object.keys(levels).reduce((a, b) => a + p1.levels[b].moves.moves - p2.levels[b].moves.moves, 0)
            }
        ]
    })
%>