<%-
    include('components/lbTemplate', {
        title: 'Towers',
        subtext: `${data.players.filter(v => v.wogc.lastUpdated > (Date.now() - 60 * 1000)).length} people are currently building.`,
        baseData: data.players,
        defaultSort: 'height',
        columns: [
            {
                name: 'name',
                value: v => `<a href="/player/${v.id}">${v.name}</a>`
            }, {
                name: 'height',
                value: v => `${v.wogc.height.toFixed(1)}m`,
                sort: (a, b) => b.wogc.height - a.wogc.height
            }, {
                name: 'record',
                value: v => `${(v.wogc.heightRecord ?? v.wogc.height).toFixed(1)}m`,
                sort: (a, b) => (b.wogc.heightRecord ?? b.wogc.height) - (a.wogc.heightRecord ?? a.wogc.height)
            }
        ]
    })
%>